@model personelOtomasyon.Models.AkademikIlan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AkademikIlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IlanId" />
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kategori" class="control-label"></label>
                <input asp-for="Kategori" class="form-control" />
                <span asp-validation-for="Kategori" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama" class="control-label"></label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasvuruBaslangicTarihi" class="control-label"></label>
                <input asp-for="BasvuruBaslangicTarihi" class="form-control" />
                <span asp-validation-for="BasvuruBaslangicTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BasvuruBitisTarihi" class="control-label"></label>
                <input asp-for="BasvuruBitisTarihi" class="form-control" />
                <span asp-validation-for="BasvuruBitisTarihi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KullaniciAdminId" class="control-label"></label>
                <input asp-for="KullaniciAdminId" class="form-control" />
                <span asp-validation-for="KullaniciAdminId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
