@model personelOtomasyon.Models.AkademikIlan

@{
    ViewData["Title"] = "Yeni İlan Ekle";
}

<h2 class="mb-4">📋 Yeni İlan Ekle</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Baslik">Başlık</label>
        <input asp-for="Baslik" class="form-control" />
        <span asp-validation-for="Baslik" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Kategori">Kategori</label>
        <select asp-for="Kategori" class="form-control">
            <option value="">-- Seçiniz --</option>
            <option>Dr. Öğretim Üyesi</option>
            <option>Doçent</option>
            <option>Profesör</option>
        </select>
        <span asp-validation-for="Kategori" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TemelAlan">Temel Alan</label>
        <select asp-for="TemelAlan" class="form-control">
            <option value="">-- Seçiniz --</option>
            <option>Sağlık Bilimleri</option>
            <option>Fen Bilimleri</option>
            <option>Matematik</option>
            <option>Mühendislik</option>
            <option>Ziraat</option>
            <option>Orman ve Su Ürünleri</option>
        </select>
        <span asp-validation-for="TemelAlan" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Aciklama">Açıklama</label>
        <textarea asp-for="Aciklama" class="form-control"></textarea>
        <span asp-validation-for="Aciklama" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BasvuruBaslangicTarihi">Başvuru Başlangıç Tarihi</label>
        <input asp-for="BasvuruBaslangicTarihi" type="date" class="form-control" />
        <span asp-validation-for="BasvuruBaslangicTarihi" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BasvuruBitisTarihi">Başvuru Bitiş Tarihi</label>
        <input asp-for="BasvuruBitisTarihi" type="date" class="form-control" />
        <span asp-validation-for="BasvuruBitisTarihi" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
        <button type="submit" class="btn btn-success mt-3">Kaydet</button>

        <a class="btn btn-secondary mt-3" asp-action="Index">
            ⬅ Geri Dön
        </a>
    </div>
</form>
